.date-picker {
  display: flex;
  flex-direction: column;
  /*Centrado en la pagina*/
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*Tamaño y posición*/
  width: 90%;
  max-width: 500px;
  gap: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  background-color: var(--hover-bg-color);
  max-width: 500px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.date-picker-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.date-picker-controls {
  display: flex;
  gap: 0.5rem;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.date-input {
  flex: 1 1 150px;
  min-width: 100px;
  padding: 0.5rem 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  outline: none;
  background-color: #fff;
}

.date-input:focus {
  border-color: var(--header-border-color);
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2);
}

.time-input{
  max-width: 8%;
}

.date-responsive-input {
  max-width: 100px;
  min-width: 10px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 0.875rem;
}

.checkbox-input {
  width: 1rem;
  height: 1rem;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  flex-wrap: wrap;
}
